## **리스트 & 튜플**
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트, 성적리스트 등등)과 동일한 의미로 이해
- list - mutable (생성된 후에 변경 가능)
- tuple - immutuable(생성된 후에 변경 불가능)

**리스트 초기화**
- []안에 값을 담아서 생성
- list() 함수로 생성
- str.split()함수로 생성

In [1]:
a=[]
print(a)

a=[1,2,3,4,5,6]
print(a)

a=['korea','canada',1,23,[34,56]]
print(a)

[]
[1, 2, 3, 4, 5, 6]
['korea', 'canada', 1, 23, [34, 56]]

- **list() 함수**
    - 다른 데이터 타입을 리스트로 변한할 때도 사용

In [2]:
a= 'hello world'
b=list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [3]:
c=(1,2,3)
d=list(c)
print(d)

[1, 2, 3]

- **string.split 함수**
    - 구분자로 구분되는 리스트를 반환(빈번히 사용됨)

In [4]:
a='hello world nice weather'
b=a.split()
print(b)

['hello', 'world', 'nice', 'weather']

**리스트 indexing**
- 문자열의 인덱싱과 동일하게 동작
- [] 연산자를 이용하여 항목 얻어오기
- [i] - i번째 원소를 반환
- i가 음수인 경우도 가능하며 마지막 원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [5]:
a=[1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

**리스트 개별 아이템에 접근**
- 인덱스에 접근하여 값을 업데이트 가능

In [6]:
#불변(인덱스로 값변환 불가)
a='hello world'
print(a[0])

b='jello world'
c='j'+a[1:]

d=a.replace('h','j')

print(a)
print(d)

h
hello world
jello world

In [7]:
a=[1,2,3,4,5]
a[0]=100
print(a)

[100, 2, 3, 4, 5]

**리스트 slicing**
- 문자열 슬라이싱과 동일하게 동작
- 슬라이싱의 결과 역시 list

In [8]:
a=[1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

#slicing
#start:end:increment

print(a[1:7:2])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 4, 6]

**list 멤버 함수**
- 생성된 리스트 객체에 동작하는 함수

- **append()**
    - 리스트의 끝에 항목을 추가함

In [9]:
a=[1,2,3,4,5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

- **extend()**
    - 리스트를 연장
    - +=로도 가능함

In [10]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

#a.append(b)
#print(a) #[1,2,3,4,5,[6,7,8,9,10]]

a.extend(b) #a+=b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **insert()로 항목추가**
    - 리스트의 원하는 위치에 추가 가능
    - 앞에 인덱스를, 뒤에 아이템을 명시

In [11]:
a=[1,3,4,5,6]

a.insert(1,40)
print(a)

[1, 40, 3, 4, 5, 6]

- **remove()**
    - 값으로 항목 삭제

In [12]:
a=[1,2,3,4,5]
a.remove(2)

print(a)

[1, 3, 4, 5]

- **pop()**
    - 지우고자 하는 아이템을 반환 후, 삭제

In [14]:
a=[1,2,3,4,5]
d=a.pop(1)#인덱스를 명시하지 않으면 마지막값 삭제

print(a)
print(d)

[1, 3, 4, 5]
2

- **index()**
    - 찾고자 하는 값의 인덱스 반환

In [15]:
a=[2,6,7,9,10]

a.index(6)

1

- **in 키워드**
    - 리스트 내에 해당 값이 존재하는지 확인
    - value in [list]
    - True, False 중 한가지로 반환

In [16]:
a=[1,2,3,4,5,10]
b=7

c=b in a
print(c)

False

- **리스트 정렬**
    - sort() -> 리스트 자체를 내부적으로 정렬(정렬된게 리스트에 반영되서 저장됨)
    - sorted() -> 리스트의 정렬된 복사본을 반환

In [18]:
a=[9,10,7,19,1,2,20,21,7,8]
b=[9,10,7,19,1,2,20,21,7,8]
a.sort()
b.sort(reverse=True)
c=sorted(b)

print(a)
print(b)
print(c)

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]
[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### tuple
- 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
- 생성된 후 변경 불가능

In [19]:
a=[1,2,3]
b=(1,2,3)

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

#### tuple upacking
- 튜플의 값을 차례대로 변수에 대입

In [21]:
a=(100,200)
b=100,200
print(type(a),type(b))

a,b,c,d=100,200,300,400
print(a,b,c,d)

<class 'tuple'> <class 'tuple'>
100 200 300 400

- **연습문제** a와 b의 값을 교환하시오.

In [23]:
a=5
b=4

#tmp=a
#a=b
#b=tmp
a,b=b,a
print(a,b)

4 5



## dictionary
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 순서를 따지지 않음. 즉, 인덱스가 없음

In [26]:
a={'Korea':'Seoul','Canada':'Ottawa','USA':'Washington D.C'}
print(a['Korea'])

Seoul

In [27]:
b={0:1,1:6,7:9,8:10}
print(b[0])

1

- **항목 추가 및 변경**
    - 기존에 키가 존재 하면, 새로운 값으로 엡데이트
    - 존재하지 않으면, 새로운 키, 값 생성

In [29]:
a={'Korea':'Seoul','Canada':'Ottawa','USA':'Washington D.C'}

a['Japan']='Tokyo'
a['Japan']='Kyoto'
a['China']='Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'China': 'Beijing'}

- **update()**
    - 두 딕셔너리를 병합함
    - 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [30]:
a={'a':1,'b':2,'c':3}
b={'a':2,'d':4,'e':5}

a.update(b)
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

- **key 삭제**
    - del 키워드 사용
    - pop 함수 이용

In [31]:
a={'a':1,'b':2,'c':3}

#a.pop('b')
del a['b']

print(a)

{'a': 1, 'c': 3}

- **clear()**
    - 딕셔너리의 모든 값을 초기화

In [32]:
a={'a':1,'b':2,'c':3}

a.clear()
print(a)

{}

- **in**
    - key값 존재 확인
    - O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [33]:
a={'a':1,'b':2,'c':3}

'b' in a

True

- **value access**
    - dict[key]로 접근, 키가 없는 경우 에러 발생
    - .get()함수로 접근 , 키가 없는 경우 None 반환

In [34]:
a={'a':1,'b':2,'c':3}

print(a['b'])
print(a.get('b'))

2
2

#### 모든 keys, values 접근
- keys() - 키만 반환
- values() - 값만 반환
- items() - 키,값의 튜플을 반환

In [35]:
a={'a':1,'b':2,'c':3}

print(a.keys())
print(a.values())

print(a.items())



print(list(a.keys()))
print(list(a.values()))

print(list(a.items()))

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

### **set**
- dictionary에서 key만 활용하는 구조로 이해
- 수학에서의 집합과 동일한 개념

In [37]:
a={1,1,2,3,3,4,1,5}
print(a)

{1, 2, 3, 4, 5}

- **set()으로 집합으로 변환**

In [38]:
a=[1,1,2,3,3,4,1,5]
print(a)

b=set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

- **set operations**
    - 수학 연산과 동일
    - 교집합, 합집합, 차집합 등 지원

In [39]:
a={1,2,3}
b={2,3,4}

print(a.union(b)) #합집합
print(a.intersection(b))#교집합
print(a.difference(b))#차집합

print(a.issubset(b))#부분 집합

{1, 2, 3, 4}
{2, 3}
{1}