## for 반복문
- 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- 아래와 같은 문법으로 사용
- 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
- 모든 아이템이 순회되면 for 블록 종료
```python
a=[1,2,4,3,5]
for i in a:
    print(i,i*2)
    ```

In [1]:
a=[1,2,4,3,5]
for i in a:
  print(i,i*2)

1 2
2 4
4 8
3 6
5 10

**문자열의 아이템 출력하기**
- 문자열의 경우 순회 가능, 리스트와 유사하게 순회 가능

In [2]:
a='hello world'
for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

**리스트 아이템 출력하기**

In [3]:
a=[1,10,3,4,5]
for num in a:
    print(num)

1
10
3
4
5

In [6]:
a=[1,10,3,4,5]
for num in a:
    if num%2==0:
        print(num/2)
    else :
        print(num+1)

2
5.0
4
2.0
6

**dict의 아이템 출력하기**
- dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
- keys()함수를 이용하여 key 값만 순회 가능
- values()함수를 이용하여 value 값만 순회 가능
- items()함수를 이용하여 tuple형태로 key,value 순회 가능

In [7]:
a={'Korea':'Seoul','Japan':'Tokyo','Canada':'Ottawa'}
for k in a:
    print(k)

Korea
Japan
Canada

In [8]:
a={'Korea':'Seoul','Japan':'Tokyo','Canada':'Ottawa'}
for k in a:
    print(k,a[k])

Korea Seoul
Japan Tokyo
Canada Ottawa

In [9]:
a={'Korea':'Seoul','Japan':'Tokyo','Canada':'Ottawa'}
for value in a.values():
    print(value)

Seoul
Tokyo
Ottawa

In [10]:
a={'Korea':'Seoul','Japan':'Tokyo','Canada':'Ottawa'}
for key,value in a.items():
    print(key,value)

Korea Seoul
Japan Tokyo
Canada Ottawa

**for에서 index 사용하기**
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
- 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)
```python
a=[1,2,3,4,5]
for i,value in enumerate(a):
    print(i,val)
```

In [12]:
a=[1,2,3,4,5]
for index,value in enumerate(a):
    print(index,value)

0 1
1 2
2 3
3 4
4 5

**break**
- for의 경우에도 특정 조건일 때, loop 종료가 가능

In [13]:
a=[100,90,80,70,60,50]
for num in a:
    if num<80:
        break
    print(num)

100
90
80

**continue**
- 해당 아이템을 건너 뛰고 싶을 떄 사용

In [15]:
a=[100,90,80,70,60,50]
for num in a:
    if (num>=60) & (num<=70):
        continue
    print(num)

100
90
80
50

**loop 중첩**
- 반복문의 경우에도 중첩하여 사용 가능
- 중첩이라는 것은 반복문 블록의 코드안에 또 반목문의 코드가 작성되는 것을 의미
- 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행됨
- 또한 중첩의 경우 무한히 가능
```python
a=[1,2,4]
for i in a:
    for j in a:
        print(i*j)
```

**구구단 출력하기**

In [17]:
a=[2,3,4,5,6,7,8,9]
b=[1,2,3,4,5,6,7,8,9]
for i in a:
    for j in b:
        print(i,'*',j,'=',i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

**collection의 길이**
- len() 내장함수로 계산 가능
- 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
- abs, len, type, range 등이 있음

In [19]:
a=[1,2,3,4,5]
len(a)

5

In [20]:
len('hello world')

11

**range 함수**
- 리스트를 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 반환

```python
range(10)          -> [0,1,2,3,4,5,6,7,8,9]
range(2,10)        -> [2,3,4,5,6,7,8,9]
range(2,10,3)      -> [2,5,8]
```

- 1~100까지의 리스트 생성하기

In [23]:
a=list(range(1,101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [24]:
list(range(1,101,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

**연습문제** 1부터 100사의 5의 배수만을 갖는 리스트를 생성하시오

In [26]:
a=list(range(5,101,5))
print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

## if & for 연습문제

1. 구구단을 2 ~ 9단까지 출력하시오.

In [27]:
for i in range(2,10):
    for j in range(1,10):
        print(i,'*',j,'=',i*j)
        
        
#x=2
#while x<=9:
#    y=1
#    while y<=9:
#        print(x*y)
#        y+=1
#    x+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

2. 1 ~ 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.

In [29]:
for i in range(1,101):
    if (i%2==0) | (i%11==0):
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

3. a=[22,1,3,4,7,98,21,55,87,99,19,20,45]에서 최대값과 최소값을 찾으시오(sorted, sort 사용 금지)

In [31]:
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
min=10000
max=-1000

for i in a:
    if i<min:
        min=i
print("최소값 : ",min)

for i in a:
    if i>max:
        max=i
print("최대값 : ",max)

최소값 :  1
최대값 :  99

4. a=[22,1,3,4,7,98,21,55,87,99,19,20,45]에서 평균을 구하시오.

In [32]:
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]

sum=0
for i in a:
    sum+=i
print("평균 : ",sum/len(a))

평균 :  37.0