### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할때 사용
- if, elif, else

In [1]:
# 조건부분에 bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단
# int : 0을 제외한 나머지 값은 True
num=0

if num:
    print('python1')
    
num=1

if num:
    print('python2')

python2

In [2]:
number=7

if number&2:
    print('홀수')

홀수

In [3]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ''을 제외한 나머지 문자열은 True
# list,tupe,dict : [],(),{}을 제외한 나머지는 True

In [4]:
# 지갑에 돈이 10,000원 이상 있으면 택시를 타고 그렇지 않으면 걸어서 집에 갑니다.
money=int(input('얼마를 가지고 있나요 : '))

if money>=10000:
    print('택시를 탄다')
else :
    print('걸어서 간다')

얼마를 가지고 있나요 : 10000
택시를 탄다

In [5]:
# 지갑에 돈이 10,000원 이상 있으면 택시를 타고
# 2,000원 이상 10,000원 미만이 있으면 버스를 타고
# 그렇지 않으면 걸어서 집에 갑니다.
money=int(input('얼마를 가지고 있나요 : '))

if money>=10000:
    print('택시를 탄다')
elif (money>=2000) & (money<10000):
    print('버스를 탄다')
else :
    print('걸어서 간다')

얼마를 가지고 있나요 : 3500
버스를 탄다

In [8]:
# 계좌에 10,000원이 들어있다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 '인출이 불가능합니다' 출력
# 인출 금액이 계좌에 있는 금액보다 작으면 '인출 되었습니다' 출력
# 마지막에 현재 계좌이 잔액을 출력

account=10000
out=int(input('얼마를 인출하실 건가요? : '))

if account<out:
    print('인출이 불가능합니다.')
else:
    print(str(out)+'원이 인출 되었습니다.')
    account-=out
print(account)

얼마를 인출하실 건가요? : 12000
인출이 불가능합니다.
10000

In [11]:
# string 데이터 타입의 format 함수
print('현재 잔액은' +str(account)+'원 입니다.')
print('현재 잔액은 {}원 입니다.'.format(account))
print('현재 잔액은 {data1}원 입니다. 인출금액은 {data2}원 입니다'.format(data2=out,data1=account))

현재 잔액은10000원 입니다.
현재 잔액은 10000원 입니다.
현재 잔액은 10000원 입니다. 인출금액은 12000원 입니다

### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법

In [12]:
# data 변수가 0이면 'zero' 출력, 아니면 'not zero'출력
data=0
if data:
    print('not zero')
else :
    print('zero')

zero

In [13]:
data=1
'not zero' if data else 'zero'

'not zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehention

In [14]:
# while
data=3
while data:#조건이 false가 될떄까지 구문의 코드를 실행
    # 반복되는 코드
    print(data)
    data-=1

3
2
1

In [5]:
# 학생이 국어: 80점, 영어: 90점, 수학:100점 while 문을 이용해서 총점과 평균을 출력
# 학생의 점수는 list or dict로 표현
total=0
avg=0
points=[80,90,100]
dic={'국어':80,'영어':90,'수학':100}

In [6]:
datas=points.copy()

In [7]:
while datas:
    total+=datas.pop()
avg=total/len(points)
total,avg

(270, 90.0)

In [ ]:
#무한루프
result=1
while result:
    result+=1
print(result)

In [8]:
# break : 반복문을 중단 시킬때 사용되는 예약어
result=1
while result:
    result+=1
    
    if result>=10:
        break
    
print(result)

10

### for
- iterable(순서가 있는)한 값을 하나씩 꺼내서 value에 대입시킨후 코드를 iterable 변수의 값 개수 만큼 실행

```python
for <variable> in <iterables>:
    <code>
```

In [9]:
lst=[0,1,2,3,4]
for data in lst:
    print(data)

0
1
2
3
4

In [12]:
# for -> continue: 조건부분으로 올라가서 코드가 실행
lst=[0,1,2,3,4]
for data in lst:
    if data%2:
        continue
    print(data,end=' ')

0 2 4

In [13]:
# for를 이용하여 코드를 100번 실행
result=0
for data in range(100):
    result+=data
result

4950

In [15]:
# range함수: offset index 개념과 비슷하게 사용
list(range(5)),list(range(5,10)),list(range(1,10,2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [1, 3, 5, 7, 9])

In [18]:
# 0~10까지 짝수를 더한 총합
result=0
for i in range(0,11,2):
    result+=i
result

30

In [19]:
dic={'국어':80,'영어':90,'수학':100}

In [21]:
for i in dic:
    print(i)

국어
영어
수학

In [23]:
for item in dic.items():
    print(item)

('국어', 80)
('영어', 90)
('수학', 100)

In [25]:
for subject,point in dic.items():
    print(subject,point)

국어 80
영어 90
수학 100

In [12]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을 수 있음
subject_ls=['국어','영어','수학']
point_ls=[80,90,100]

for subject, point in zip(subject_ls,point_ls):
    print(subject,point)

국어 80
영어 90
수학 100

- 구구단 출력 (가로 출력)
    - 이중 for문 안에 for문
    - print : end='\t'
    - string : format 함수 이용
    ```python
    2*1=2 3*1=3 .... 9*1=9
    ....
    2*9=18 3*9=27 .... 9*9=81
    ```

In [18]:
for i in range(1,10):
    for j in range(2,10):
        print('{}*{}={}'.format(j,i,j*i), end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### 3. List Comprehension
- 리스트 데이터를 만들어주는 방법
- for문보다 빠르게 동작

In [19]:
# 각각의 값에 제곱한 결과 출력
lst=[0,1,2,3]
result=[]
for num in lst:
    result.append(num**2)
result

[0, 1, 4, 9]

In [21]:
result=[data**2 for data in lst]
result

[0, 1, 4, 9]

In [22]:
# 리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항연산 사용
lst=[0,1,2,3]
#result=['짝수','홀수','짝수','홀수']

result=[
    '홀수' if data%2 else '짝수' for data in lst
]
result

['짝수', '홀수', '짝수', '홀수']

In [23]:
# 리스트 컴프리헨션 조건문
ls=range(10)
[data for data in ls if data%2]

[1, 3, 5, 7, 9]

In [25]:
ls=[1,2,3]
[func for func in dir(ls) if (func[:2]!='__') & (func[0]=='c')]

['clear', 'copy', 'count']