In [1]:
import pandas as pd

#### DataFrame생성하기
- 일반적으로 분석을 위한 데이터는 다른 데이터 소스(database, 외부파일)을 통해 dataframe을 생성
- 여기서는 실습을 통해, dummy 데이터를 생성하는 방법을 다룰 예정

#### dictionary로 부터 생성하기
- dict의 key -> column

In [2]:
data={'a':100,'b':200,'c':300}
pd.DataFrame(data,index=['x','y','z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

In [4]:
data={'a':[1,2,3],'b':[4,5,6],'c':[10,11,12]}
pd.DataFrame(data,index=['x','y','z'])

   a  b   c
x  1  4  10
y  2  5  11
z  3  6  12

#### Series로 부터 생성하기
- 각 Series의 인덱스 -> column

In [6]:
a=pd.Series([100,200,300],['a','b','c'])
b=pd.Series([101,201,301],['a','b','c'])
c=pd.Series([110,210,310],['a','b','c'])

pd.DataFrame([a,b,c])

     a    b    c
0  100  200  300
1  101  201  301
2  110  210  310