In [1]:
import pandas as pd
import numpy as np

#### Series 값 변경
- 추가 및 업데이트 : 인덱스를 이용
- 삭제 : drop함수를 이용

In [2]:
s=pd.Series(np.arange(100,105),['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [3]:
s['a']=200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['k']=300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [5]:
s.drop('k')#s는 변경이 안됨 inplace=True 파라미터를 넣으면 s자체가 변경딤

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [6]:
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

#### Slicing
- 리스트, ndarray와 동일하게 적용

In [7]:
s1=pd.Series(np.arange(100,105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [8]:
s1[1:3]

1    101
2    102
dtype: int32

In [10]:
s2=pd.Series(np.arange(100,105),['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [11]:
s2[1:3]

b    101
c    102
dtype: int32

In [12]:
s2['b':'d']#문자열 인덱스로 하면 마지막도 포함

b    101
c    102
d    103
dtype: int32